<% include header %>


    <h1>FACEIT Mate</h1>

    <form action='/gameID' method='POST'>
        <label for="game_id">ID of your game</label>
        <input type="text" name="game_id" id="game_id">
        <button type='submit'>Search</button>
   </form>

   

<% include footer %>

